hydra-core
omegaconf
mlflow
pydantic
scikit-learn
scipy
numpy
pandas
optuna
ray[tune]
transformers
torch
datasets
seaborn
matplotlib
cupy-cuda12x
cuml-cu12==25.2.*
cudf-cu12==25.2.*
torchvision
accelerate
nltk
gensim
wordcloud
polars
pip
